<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>creteRepo2 (copy)</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/manage.css') }}">
</head>

<body>
    <nav class="navbar navbar-dark navbar-expand-md bg-dark text-left navigation-clean-button">
        <div class="container">
            <a class="navbar-brand" href="{{ url_for('index') }}">Scamhub</a>
            <button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-2">
                <span class="sr-only">Toggle navigation</span>
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse text-right" id="navcol-2">
                <span class="ml-auto navbar-text actions">
                    {% if session['user'] %}
                    <a class="login" href="{{ url_for('create') }}">Create Repository</a>
                    <a class="login" href="{{ url_for('repositories') }}">Repositories</a>
                    <a class="btn btn-light action-button" role="button" href="{{ url_for('logout') }}" style="background: rgb(231,91,12);">Log Out</a>
                    {% else %}
                    <a class="login" href="{{ url_for('login') }}">Log In</a>
                    <a class="btn btn-light action-button" role="button" href="{{ url_for('signup') }}">Sign Up</a>
                    {% endif %}
                </span>
            </div>
        </div>
    </nav>
    <style>
    .zoom{
        color: inherit;
        text-decoration: none;
    }
    .zoom:hover{
        text-decoration: none;
    }
    </style>
    <div class="register-photo">
        <div class="d-lg-flex justify-content-lg-center">
            <h1>{{ data['repo_name'] }}</h1>
        </div>
        <div class="d-lg-flex justify-content-lg-center">
            <h3>{{ data['actual_path'] }}</h3>
        </div>
        <div style="margin-bottom: 50px;">
            <div class="row">
                <div class="col d-lg-flex justify-content-lg-center align-items-lg-center">
                    <a class="zoom" href="{{ url_for('manage', path = data['previous_path']) }}">
                        <button class="btn btn-primary" type="button" style="background: rgb(52,58,64);border-color: rgb(52,58,64);">
                            <i class="fa fa-arrow-left"></i>
                        </button>
                    </a>
                </div>
                <div class="col d-lg-flex justify-content-lg-center align-items-lg-center">
                    <div>
                        <div class="row">
                            {% if data['rw']%}
                            <a href="{{ url_for('upload_file', path=data['path']) }}" class="zoom">
                                <div class="col d-lg-flex align-items-lg-center"><button class="btn btn-primary" type="button" style="width: 100px;background: rgb(52,58,64);border-color: rgb(52,58,64);">Upload File</button></div>
                            </a>
                            <a href="{{ url_for('create_folder', path=data['path']) }}" class="zoom">
                                <div class="col d-lg-flex justify-content-lg-center"><button class="btn btn-primary" type="button" style="background: rgb(52,58,64);border-color: rgb(52,58,64);">Create <br> Folder</button></div>
                            </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-container" style="width: 50%;">
            <div>
                <div class="table-responsive table-hover table-borderless">
                    <table class="table">
                        {% if not data['folders'] and not data['files'] %}
                        <div class="d-lg-flex justify-content-lg-center">
                            <h5>There are no files in this folder!</h5>
                        </div>
                        {% endif %}
                        <tbody>
                            {% for i in data['folders'] %}
                            <tr>
                                <td><i class="fa fa-folder"></i></td>
                                <td><a class="zoom" href="{{ url_for('manage', path = data['path'] + '->' + i) }}">{{ i }}</a></td>
                            </tr>
                            {% endfor %}
                            {% for i in data['files'] %}
                            <tr>
                                <td><i class="fa fa-file"></i></td>
                                <td><a class="zoom" href="{{ url_for('view', path = data['path'] + '->' + i) }}">{{ i }}</a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
</body>

</html>
